.sign-up-container {
    margin: 0 auto;
    width: 400px;
    background: rgb(255, 255, 255);
    padding: 2%;
    position: relative;
    top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}

.background {
    background: url('https://image.lexica.art/full_webp/dca9a63f-0312-4d1d-9a49-22586d61cccb');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90.6vh;
    margin: none;
}

h2 {
    text-align: center;
}

Button {
    width: 100%;
    margin-top: 15px;
}

.text-box {
    width: 100%;
    margin-bottom: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    height: 25px;
    border-radius: 0;
}

.text-box.error {
    border-color: red;
}

.error-text {
    color: red;
    margin: -12px 0 12px;
    font-size: 0.875em;
}
